<h2 class="{{moduleID}}-combatant-name">{{combatantName}}</h2>

<div class="flexrow">
    <img class="{{moduleID}}-combatant-img" src="{{combatantImg}}" />

    <label class="flexrow {{moduleID}}-checkboxes">
        <input class="{{moduleID}}-checkbox" data-action="Action" type="checkbox" />
        <a><i class="fa-regular fa-dice-d20" title="{{localize "DND5E.Action"}}"></i></a>
    </label>

    <label class="flexrow {{moduleID}}-checkboxes">
        <input class="{{moduleID}}-checkbox" data-action="BonusAction" type="checkbox" />
        <a><i class="fa-regular fa-star" title="{{localize "DND5E.BonusAction"}}"></i></a>

    </label>

    <label class="flexrow {{moduleID}}-checkboxes">
        <input class="{{moduleID}}-checkbox" data-action="Reaction" type="checkbox" />
        <a><i class="fa-regular fa-bolt-lightning" title="{{localize "DND5E.Reaction"}}"></i></a>
    </label>
</div>